@import 'styles/mixins';

.wrapper {
  padding: 150px 0;
  background-color: var(--color-background);

  @include media-tablet {
    padding: 100px 0;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  max-width: 550px;

  @include media-tablet {
    max-width: 420px;
  }
}

.text {
  font-size: 34px;
  margin: 48px 0;

  @include media-tablet {
    font-size: 28px;
  }
}