body,
ul,
p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
}

button {
  cursor: pointer;
}


fieldset {
  margin: 0;
  padding: 0;
  border: none;
}