:root {
  // COLORS
  --color-white: #ffffff;
  --color-black: #283337;
  --color-green: #61d7ac;
  --color-gray: #9fa4a6;
  --color-gray-light: #CFD2D3;
  --color-gray-dark: #878d90;
  --color-typography-black: #40494d;
  --color-background: #f3f7f4;

  // FONTS
  --font-primary: 'Roboto Condensed', sans-serif;
  --font-secondary: 'PT Serif', serif;
}
