@import './reset';
@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

#__next {
  min-height: 100vh;
  font-family: var(--font-primary);
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
