@import 'styles/mixins';

.wrapper {
  padding: 40px 0;

  @include media-tablet {
    padding: 20px 0;
  }
}

.inner {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  width: 130px;
  height: 40px;
  margin-right: auto;

  @include media-tablet {
    width: 90px;
    height: 30px;
  }
}

.hamburger {
  padding: 8px;
  margin-left: auto;
  display: none;

  svg {
    fill: var(--color-black);
  }

  @include media-tablet {
    display: block;
  }
}

.menu {
  display: flex;
  align-items: center;
  position: relative;

  &__close {
    display: none;
  }

  @include media-tablet {
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    height: 100vh;
    padding: 80px 16px 20px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    box-shadow: -4px 0 16px -2px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    background-color: var(--color-white);
    visibility: hidden;
    transition: visibility 0.3s, transform 0.3s;

    &.open {
      visibility: visible;
      transform: translateX(0);
    }

    &__close {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;

      svg {
        fill: var(--color-black);
        width: 100%;
        height: 100%;
      }
    }
  }
}

.nav {
  margin-right: 110px;

  &__list {
    display: flex;
    gap: 60px;
    font-size: 18px;
  }

  @include media-tablet {
    margin-right: 0;

    &__list {
      flex-direction: column;
      align-items: center;
      gap: 25px;
    }
  }
}

.openSearch {
  @include media-tablet {
    order: 1;
    margin-top: 20px;
  }
}

.demo {
  margin-left: 15px;

  @include media-tablet {
    margin: 40px 0 0;
  }
}

.search {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s;

  &.open {
    opacity: 1;
    visibility: visible;

    .search__inner {
      transform: translateY(0);
    }
  }

  &__inner {
    padding: 20px 0;
    background-color: var(--color-white);
    transform: translateY(-100%);
    transition: transform 0.4s;
  }
}
